<style>

#form {
  text-align: center;
}
h1 {
    font-size: 400%;
}

h2 {
  font-size: 225%;
  text-align: center;
}

</style>


<h1>Stock Trader</h1>
<br />
<h2 style="margin-right:100px">Trade</h2>





<!--trades path url ??-->
<%= form_for :trades, url: trades_path do |f| %>
 
  <% if @trade.errors.any? %>
    <div id="Unrecognized stock symbol">
      <h2>
        <%= pluralize(@trade.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @trade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




<div id="form">
  <%= form_for :trades, url: trades_path do |f| %>
    <p>
      <%= f.label :'Shares:'  %>
      <%= f.text_field :shares %>
    </p>

     <p>
      <%= f.label :'Symbol: ' %>
      <%= f.text_field :symbol %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
<div>

<%= link_to 'Home', controller: 'home' %>

  <% end %>


